.reviewcard-enter {
  opacity: 0.01;
}

.reviewcard-enter.reviewcard-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.reviewcard-leave {
  opacity: 1;
}

.reviewcard-leave.reviewcard-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}