[submodule "./src/Components/External/react-simple-masonry"]
	path = ./src/Components/External/react-simple-masonry
	url = https://github.com/awkward/react-simple-masonry.git
[submodule "lib/dropzone"]
	path = lib/dropzone
	url = https://github.com/enyo/dropzone.git
[submodule "lib/deepstream.io"]
	path = lib/deepstream.io
	url = https://github.com/deepstreamIO/deepstream.io.git
