
/* https://davidwalsh.name/css-spin-revisited */

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#rays { /* with animation properties */
  background: url(/img/rays.png) 0 0 no-repeat;
  position: absolute;
  top: -100px;
  left: -100px;
  width: 490px;
  height: 490px;
  /* microsoft ie */
  animation-name: spin;
  animation-duration: 40000ms; /* 40 seconds */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 4;
}

