
$topoffset: -80px;
$duration: 600ms;

.example-enter {
  /*opacity: 0.01;*/
  top: $topoffset;
}
.example-enter.example-enter-active {
  /*opacity: 1;*/
  top: 0;
  transition: top $duration ease-in;
}
.example-leave {
  /*opacity: 1;*/
  top: 0;
}
.example-leave.example-leave-active {
  /*opacity: 0.01;*/
  top: $topoffset;
  transition: top $duration ease-in;
}
.example-appear {
  /*opacity: 0.01;*/
  top: $topoffset;
}
.example-appear.example-appear-active {
  /*opacity: 1;*/
  top: 0;
  transition: top $duration ease-in;
}
