
$black: #000;
/* $column-width: 480px; */
$gutter-width: 10px;

.player-wrapper {
    margin: 0 auto;
  width: 100%;
  height: 450px;
  clear:both;
}

.react-player {
  margin-bottom: 10px;
  background: rgba($black, .1);
}

.faded {
  color: rgba($black, .5);
}
