.verpic-enter {
  opacity: 0.01;
}
.verpic-enter.verpic-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.verpic-leave {
  opacity: 1;
}
.verpic-leave.verpic-leave-active {
  opacity: 0.01;
  transform: scale(0, 0);
  transition: all 300ms ease-in;
}
